table {
  thead {
    color: white;
    text-align: center;
  }
  td {
    text-align: center;
  }
}

td {
  &[data-positive="true"] {
    color: green;
  }
  &[data-positive="false"] {
    color: red;
  }
}