section.page-404{
  background:#fff;
  font-family: 'Poppins-SemiBold', serif;
  padding-bottom: 5%;

  .four-zero-four-bg {
    background-image: url(../static/images/not_found.gif);
    height: 400px;
    background-position: center;

    h1 {
      font-size:80px;
      text-align: center;
    }
  }

  .content-box-404 {
    margin-top:-50px;
    text-align: center;

    h3 {
      font-weight: bold;
    }
  }
}
