@charset 'UTF-8';

@import 'core';

@import 'components/App/app';
@import 'components/Header/header';
@import 'components/DownloadButton/downloadbutton';
@import 'components/AboutUs/aboutus';
@import 'components/Contact/contact';
@import 'components/ChatInput/chatinput';
@import 'components/CompanyLogo/companylogo';
@import 'components/SupportedSymbols/supportedsymbols';
@import 'components/Footer/footer';
@import 'intent_components/help';
@import 'intent_components/nullintent';
@import 'intent_components/incomestatement';
@import 'intent_components/companyrating';
@import 'intent_components/stockprice';
@import 'intent_components/annualcashflow';
@import 'intent_components/companyprofile';
@import 'intent_components/sectorperformance';
@import 'intent_components/forex';
@import 'intent_components/historicalstockprice';
@import 'intent_components/majorindexes';
