.supported-symbols {
  .supported-companies-title {
    text-align: center;
  }

  table {
    thead {
      color: white;
      text-align: center;
    }
    td {
      text-align: center;
      img {
        height: 96px;
        width: 96px;
      }
    }
  }
}